@font-face {
    font-family: "Oceanic Drift";
    src: url(/fonts/oceanicdrift.ttf);
}
@font-face {
    font-family: "Roboto Bold";
    src: url(/fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto-Regular.ttf);
}

html, body {
    margin: 0px;
    padding: 0px;

    background-color: var(--background);
    font-family: "Roboto";
    color: var(--text);
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(1000px, 100%);
    box-sizing: border-box;
    margin: auto;
    padding: 30px;
}

.banner {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
}
.banner > .logo-text {
    display: flex;
    flex-direction: column;
}
.banner > .logo-text > .logo-title {
    font-family: "Oceanic Drift";
    color: var(--secondary);
    font-size: min(200px, 25vw); /* Effectively, start shrinking text when width is 800px. It's not perfect, but it is a pure CSS solution.*/
    text-shadow: min(7px, .875vw) min(7px, .875vw) var(--primary);
}
.banner > .logo-text > .tagline {
    color: var(--secondary);
    font-family: "Roboto Bold";
    font-size: min(25px, 5vw); /* This will start scaling after the logo title, but the sizes work out in a way I think looks pretty darn good */
    font-weight: 900;
    text-transform: uppercase;
}
.banner > img {
    height: 175px;
}
.tagline > .emphasis {
    color: var(--accent);
}

.nav-links {
    margin-top: 45px;
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.nav-links > a {
    font-family: "Roboto Bold";
    color: var(--text);
    background-color: var(--primary);
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
}