html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#page {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #011638;
    overflow-y: scroll;
}

#journals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit);
    grid-gap: 10px;
}

.journal-entry {
    background-color: #2E294E;
    font-family: sans-serif;
    height: 75px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14pt;
}

#create-journal {
    width: 75px;
    height: 75px;
    position: absolute;
    bottom: 25px;
    right: 25px;
    background-color: transparent;
    border: 7px solid #2E294E;
    border-radius: 25px;
}
.date, .time {
    pointer-events: none;
}