html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #14104a;
    
    font-family: sans-serif;
    font-size: 12pt;
}

#navbar {
    color: white;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #1c1769;
    height: 40px;
    margin: 0px;
    align-items: center;
    padding: 3px;
}
#journal-title {
    font-size: 20pt;
    cursor: pointer;
}

#editor {
    width: 100%;
    height: 100%;
    background-color: #14104a;
    overflow-y: scroll;
}

.page {
    width: 60%;
    aspect-ratio: 8.5/11;
    color: white;
    background-color: #1c1769;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 50px;
    box-sizing: border-box;
}
.inner-page {
    height: 100%;
    overflow-y: scroll;
}
.inner-page:focus {
    outline: none;
}

@media only screen and (max-width: 800px) {
}