<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0, user-scalable=no, interactive-widget=resizes-content">
    <link rel="manifest" href="<%= require('@/oceanic.webmanifest') %>">
    <link rel="stylesheet" href="<%= require('./index.css') %>">
    <title>Journal</title>
</head>

<body>
    <div id="navbar">
        <span id="journal-title" onclick="window.location.href = '/home.html'"></span>
    </div>
    <div id="editor">
        <div class="page">
            <div class="inner-page" contenteditable="true">
            </div>
        </div>
    </div>
</body>
</html>