<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0, user-scalable=no, interactive-widget=resizes-content">
    <link rel="manifest" href="<%= require('@/oceanic.webmanifest') %>">
    <link rel="stylesheet" href="<%= require('./index.css') %>">
    <title>Journal</title>
</head>

<body>
    <div id="page">
        <div id="navbar">
            <span id="journal-title" onclick="window.location.href = '/home.html'"></span>
        </div>
        <div id="messages">
        </div>
        <div id="input">
            <div id="input-field-container">
                <textarea id="input-field" rows="1" placeholder="write a message here :)"></textarea>
            </div>
            <div id="submit">
                <img src="<%= require('images/icon_send.svg') %>">
            </div>
        </div>
    </div>
</body>

<template id="message-template">
    <div class="message-container">
        <div class="message"></div>
        <div class="timestamp"><span class="time"></span><span class="date"></span></div>
    </div>
</template>
</html>